<div class="uiCharacters">
	<img class="logo" src="images/logo.png" alt="">
	<div class="bottom">
		<div class="left hasBorderShadow">
			<div class="character">loading characters...</div>
		</div>
		<div class="right hasBorderShadow">
			<div class="portrait">
				<div class="sprite"></div>
			</div>
			<div class="info">
				<div class="name"></div>
				<div class="class"></div>
			</div>
			<div class="buttons">
				<div class="el btn btnNew">new</div>
				<div class="el btn disabled btnDelete">delete</div>
				<div class="el btn disabled btnPlay">play</div>
			</div>
		</div>
	</div>	
	<div class="message"></div>
</div>
