<div class="uiLogin">
	<img class="logo" src="images/logo.png" alt="">
	<div class="right hasBorderShadow">
		<div class="label">username</div>
		<input type="text" class="el textbox txtUsername" placeholder="username">
		<div class="label">password</div>
		<input type="password" class="el textbox txtPassword" placeholder="password">
		<div class="top-buttons">
			<div class="el btn btnRegister">register</div>
			<div class="el btn btnLogin">login</div>
		</div>
		<div class="message"></div>
	</div>
	<!-- <div class="news" location="https://github.com">[ Latest Release Notes ]</div> -->
	
	<div class="version" location="https://github.com">v0.0.0</div>
</div>
