@black: #000000;

//Red
@redA: #ff2638;
@redB: #e52233; 
@redC: #cc1f2d; 
@redD: #b31b27; 
@redE: #991722;
@redF: #80131c;
@redG: #660f17;

//Orange
@orangeA: #ffa526;
@orangeB: #e59422; 
@orangeC: #cc841f; 
@orangeD: #b3731b;
@orangeE: #996317;
@orangeF: #805213;
@orangeG: #66420f;

//Yelow
@yellowA: #c9ff26;
@yellowB: #b5e522;
@yellowC: #a1cc1f;
@yellowD: #8db31b;
@yellowE: #789917;
@yellowF: #648013;
@yellowG: #50660f;

//Greens
@greenA: #38ff26;
@greenB: #33e522;
@greenC: #2dcc1f;
@greenD: #27b31b;
@greenE: #229917;
@greenF: #1c8013;
@greenG: #17660f;

//Teal
@tealA: #26ffa5;
@tealB: #22e594;
@tealC: #1fcc84;
@tealD: #1bb373;
@tealE: #179963;
@tealF: #138052;
@tealG: #0f6642;

//Cyan
@cyanA: #26c9ff;
@cyanB: #22b5e5;
@cyanC: #1fa1cc;
@cyanD: #1b8db3;
@cyanE: #1b8db3;
@cyanF: #136480;
@cyanG: #0f5066;

//Blue
@blueA: #2638ff;
@blueB: #2233e5;
@blueC: #1f2dcc;
@blueD: #1b27b3;
@blueE: #172299;
@blueF: #131c80;
@blueG: #0f1766;

//Purple
@purpleA: #a526ff;
@purpleB: #9422e5;
@purpleC: #841fcc;
@purpleD: #731bb3;
@purpleE: #631799;
@purpleF: #521380;
@purpleG: #420f66;

//Pink
@pinkA: #ff26c9;
@pinkB: #e522b5;
@pinkC: #cc1fa1;
@pinkD: #b31b8d;
@pinkE: #991778;
@pinkF: #801364;
@pinkG: #660f50;

//Brown
@brownA: #e3c681;
@brownB: #c9af73;
@brownC: #b09964;
@brownD: #968356;
@brownE: #7d6d47;
@brownF: #635739;
@brownG: #4a402a;

//Gray
@grayA: #e5e3dc;
@grayB: #cccac4;
@grayC: #b3b0ab;
@grayD: #999793;
@grayE: #807e7a;
@grayF: #666562;
@grayG: #4d4c49;

//Blacks
@blackA: #4d4d4d;
@blackB: #3c3c3c;
@blackC: #1e1e1e;
@blackD: #111111;

@white: @grayA;

@qualityCommon: @white;
@qualityMagic: @greenB;
@qualityRare: @blueB;
@qualityEpic: @purpleA;
@qualityLegendary: @orangeA;
